
.insta a {
    text-decoration: none;

}

.insta {
   text-decoration: none;
   color: rgb(254,39,112);
   margin-left: 2rem;
}

.our-products img{
    height: 20rem ;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}